{
	email {$ACME_EMAIL:admin@example.invalid}
}

http://www.bonsaai.io, http://bonsaai.io {
	encode zstd gzip

	@proxy_health path /healthz
	handle @proxy_health {
		respond "ok" 200
	}

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}

	reverse_proxy executive-shell:8080
}
